.bank{
    margin-top: 80px;
    margin-left: 80px;
}

.upi{
    margin-top: 80px;
    margin-left: 120px;
}

.self{
    margin-top: 80px;
    margin-left: 130px;
}

.lbank{
    /* margin-top: 150px; */
    margin-left: 60px;
}

.lupi{
    margin-left: 110px;
}

.lself{
    margin-left: 140px;
}

.name{
    margin-top: 15px;
}

.acc{
    margin-left: 230px;
}